circle {	opacity: 0.5; }

body { background-color: #222; }

svg {	
	display: block;
	background-color: #333;
	margin-left: 10vw;
}

button {
	display: block;
	width: 100px;
	height: max(18px, 5vh);
	margin: 0 10vw;
}